<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/index.css">
        <title>{{title}}</title>
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/"><img src="static/img/logo.png" alt="EPITODO"></a>
            </div>
            <div class="items">
                <a href="/signin">Sign in</a>
                <a href="/register">Register</a>
            </div>
        </nav>
        <div class="selfie">
            <p>Your online todo list</p>
        </div>
        <p class="comment">
            ...or at least its beginnings
        </p>
        <!-- {{content}} -->
    </body>
</html>
