<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Register | Epitodo</title>
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="static/css/register.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/"><img src="static/img/logo.png" alt="EPITODO"></a>
            </div>
            <div class="items">
                <a href="/signin">Sign in</a>
                <a href="/register">Register</a>
            </div>
        </nav>
        <div class="window">
            <h1>Register</h1>
            <form method="post">
                <input type="text" name="username" placeholder="username"><br>
                <input type="password" name="password" placeholder="password"><br>
                <a>
                    <button class="button" type="submit">Register</button>
                </a>
            </form>
        </div>
    </body>
</html>
