<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{username}} | Epitodo</title>
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/register.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/"><img src="/static/img/logo.png" alt="EPITODO"></a>
            </div>
            <div class="items">
                <a href="/user/task">My tasks</a>
                <a href="/signout">
                    <img height="20" src="/static/img/logout.png" alt="Logout">
                    Sign out
                </a>
            </div>
        </nav>
        <div class="window">
            <h1>{{username}}</h1>
        </div>
    </body>
</html>
